// Global Styles

img {
    display: block;
    width: 100%;
}




// Index Styles

.indexHeader {
    background-image: url(../assets/captured-final-assets/header-image.jpg);
    background-size: cover;
    height: 82vh;
    position: relative;
}

.headerImgCont {
    @include positionAbsolute(0,-14rem);
    width: 44%;
    max-height: 800px;
    position: absolute;
    box-shadow: 0 0 0 4.5rem $boxShadow;
    
}

.headerImg {
    width: 100%;
    
}

.sectionCont img {
    width: 100%;
    display: block;
}

.sectionImg1 {
    position: absolute;
    left: 0;
    top: -5rem;
    box-shadow: 40px 30px 0 0 $boxShadow;
    max-width:50%;
}

.sectionImg2 {
    position: absolute;
    right: 0;
    box-shadow: -40px 40px 0 0 $boxShadow ;
    max-width:50%;

}

.mapImage {
    background-image: url(../assets/captured-final-assets/banner.jpg);
    background-size: cover;
    height: 55vh;
}

.section3Img {
    -webkit-box-shadow: 30px 40px 0 0 #fdfa69;
    box-shadow: 30px 40px 0 0 #fdfa69;
    height: 30%;
    min-width: 29%;
}

.photoGallery {
    display: flex;
    justify-content: space-between;
    margin: 15rem auto;

    img{
        width: 30%;
    }
}

// Blog Styles

.blogHeader {
    background-image: url(../assets/captured-final-assets/blog-header.jpg);
    background-size: cover;
    height: 70vh;
}

// Left Blog Aside

.leftPicture {

    left: 0;
    top: 85vh;
    position: absolute;
    width: 35vw;
    box-shadow:20px 0 0 0 #FFF;

        img {
            width: 100%;           
        }
}

.rightPicture {

    right: 0;
    top: -30rem;
    position: absolute;
    max-height: 500px;
    width: calc(100% - 4rem);


        img {
            height: 100%;
        width: 100%;
        box-shadow: -4rem 4rem 0 0 $boxShadow;
    }
}

.profilePic {
    position: absolute;
    width: 100px;

    img{
        width:100%;
    }
}

// Contact styles

.contactHeader {
    background-image: url(../assets/captured-final-assets/contact-header.jpg);
    background-size: cover;
}

// Media Queries

@media (max-width:940px) {
    // Home Page Media Query

.headerImgCont {
    right: 39%;
    bottom: -23rem;
    width: 22%;
    max-height: 800px;
    position: absolute;
    -webkit-box-shadow: 0 0 0 4.5rem #fdfa69;
    box-shadow: 0 0 0 1rem #fdfa69;
}

.sectionImg1{
    position: unset; 
    box-shadow: 0 0 0 1rem #fdfa69;
    max-width: 50%;
    margin: 5rem auto 0;
}

.sectionImg2 {
    position: unset;
    -webkit-box-shadow: -40px 40px 0 0 #fdfa69;
    box-shadow: 0 0 0 1rem #fdfa69;
    max-width: 50%;
    margin: 5rem auto 5rem;
}
}

@media (max-width:480px) {

    .headerImgCont {
        display: none;
    }

    .section3Img {
        display: none;
    }

    .photoGallery img {
         width: 100%; 
    }

    .photoGallery {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 2rem auto;

        img:nth-child(-n+2) {
            padding-bottom: 2rem;
        }
    }
}