@import "setup";
@import "mixins";
@import "variables";
@import "typography";
@import "images";

// Global Styles

.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

nav {
    float: right;
    li {
        float: right;
    }
}

footer p {
    background-color: $black;
    color: #FFF;
    text-align: center;
}

nav a:hover,
nav a:focus {
    border-bottom: 3px solid $green;
}

// Index Styles

.wrapper.headerCont {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 85vh;
}

main {
background-color: $ice;
padding-bottom: 10rem;
}

.sectionCont {
    display: flex;
    justify-content: space-between;
    height: 50vh;
}

.sectionImgCont {
    flex-basis: 60%;
}

.subsection {
    flex-basis: 40%;
    margin-top: 6rem;
}

.section1 {
    position: relative;
    height: 100vh;
    margin-bottom: -7rem;
}

.section2 {
    background-color: $ice;
    padding-bottom: 10rem;
}

.fas {
    background-color: $green;
    background-size: 1rem;
    border-radius: 50%;
    font-size: 3rem;
    max-height: 70px;
    max-width: 70px;
    padding: 1rem;
}

.iconSection {
    width: 50%;

    i {
        margin-right: 2rem
    }

    p {
        padding-left: 8rem;
    }
}

.section:nth-child(-n+2) {
    padding-top: 10rem;
}

.section3 {
    display: flex;
    flex-direction: row;
    padding-top: 14rem;
}

.sectionProfile {
    background-color: $ice;
    height: 100%;
}

.monthProfile {
    margin-left: 15rem;
}




// Blog Styles

.blog {
    background-color: $ice;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
}

// Left Block Aside

.leftBlog {
    width: 36vw;
}

.rightBlog {
    width: 60%;
    position: relative;
}

aside {
    background-color: #FFF;
    margin: 60rem 3rem 2rem 1rem;
    padding-top: 6vh;
    padding-left: 20px;
    padding-right: 30px;
    width: 416px;

    a {
        @include anchorStyle(none, #000);
    }
}

.aboutCaptured {
    padding-bottom: 5rem;
}

.recentPosts {
    margin-bottom: 4rem;
}
article {
    border: 10px solid $boxShadow;
    border-top: none;
    border-right: none;
    margin-top: 45rem;
    padding-top: 5rem;
    padding-left: 3rem;
    width: 90%;
    max-width: 1300px;
}

// Right Blog Section

.flexComment {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 15px;
}

.comment {
    position: relative;
    padding-bottom: 15rem;
}

.commentCont {
    margin-left: 155px;
}

// Form Section

fieldset {
    border: none;

    button {
        border: none;
        background-color: $green;
        margin: 4rem 0 8rem 0;
        padding: 1rem 0;
        width: 100%;
    }
}

input,
textarea {
    border: none;
    border-bottom: 2px solid $green;
    background-color: $ice;
    padding: 1rem;
}

#name {
    width: 45%;
}

#email {
    float: right;
    width: 45%;
}

#comment {
    width: 100%;
    border: 2px solid $green;
    margin-top: 3rem;
    resize: none;
    height: 20rem;
}

// Contact Page

.contactHeader {
    height: 70vh;
}

.mainContact {
    height: 70vh;
}

.email {
    width: 28%;
}

.icon .fab{
    padding: 16rem 1.5rem 2.5rem 0; 
}

.form {

    background-color: #FFF;
    box-shadow: -3rem 3rem 0 0 $boxShadow;
    padding: 10rem 5rem 0 5rem;
    margin-top: -30rem;


    input{
        background-color: #FFF;
    }

    textarea {
        background-color: #FFF;
        margin-top: 10rem;
    }

    button {
        margin:5rem 0 5rem 0;
    }
}

.formCont {
    position: relative;
}

#message {
    width: 100%;
    border: 2px solid $green;
    margin-top: 3rem;
    resize: none;
    height: 30rem;
}

// Media Queries 
 
@media (max-width:940px) {
.section3 .monthProfile {
    margin-left: 50px;
    text-align: left;
}

.wrapper .sectionCont {
    display: inline-block;
    height: 100%;
}

body .section1 {
    height: 100%;
    margin-bottom: 0rem;
}

.subsection {
    text-align: center;
}

.sectionCont {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 50vh;
}
}

@media (max-width:480px) {
    .iconSection {
        width: 100%;
    }

    .section3 {
        display: flex;
        flex-direction: row;
        padding: 4rem 0;


    }

    .section:nth-child(-n+2) {
        padding-top: 0; 
    }
}





 


    


